<a href="https://colab.research.google.com/github/Rik01442/C-Basic-Programming/blob/main/Patterns.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [15]:
#right angle triangle
for row in range(1,6):
    for col in range(1,row+1):
        print("*",end=" ")
    print()

*
* *
* * *
* * * *
* * * * *

In [36]:
for row in range(1,6):
    for col in range(1,row+1):
        print(i-4,end=" ")
    print()

1
1 1
1 1 1
1 1 1 1
1 1 1 1 1

In [27]:
for row in range(1,6):
    for col in range(1,6):
        print(col+9,end=" ")
    print()

10 11 12 13 14
10 11 12 13 14
10 11 12 13 14
10 11 12 13 14
10 11 12 13 14

In [22]:
for i in range(1,6):
    for j in range(1,6):
        print(i,end=" ")
    print()

1 1 1 1 1
2 2 2 2 2
3 3 3 3 3
4 4 4 4 4
5 5 5 5 5

In [31]:
for i in range(1,6):
    for j in range(1,6):
        print(i,end=" ")
    print()

1 1 1 1 1
2 2 2 2 2
3 3 3 3 3
4 4 4 4 4
5 5 5 5 5

In [53]:
for row in range(1,6):
  for col in range(row,6):
    print("*",end=" ")
  print()

* * * * *
* * * *
* * *
* *
*

In [102]:
n=10
for row in range(1,n+1):
  num = 65
  for col in range(row,n+1):
    print(chr(num),end=" ")
    num+=1
  print()

A B C D E F G H I J
A B C D E F G H I
A B C D E F G H
A B C D E F G
A B C D E F
A B C D E
A B C D
A B C
A B
A

In [112]:
num=20
for i in range(1,6):
  for j in range(6-i):
    print(num,end=" ")
    num+=1
  print()

20 21 22 23 24
25 26 27 28
29 30 31
32 33
34

In [119]:
n=4
for row in range(1,n+1):
  num = 68
  for col in range(row):
    print(chr(num),end=" ")
    num+=1
  print()

D
D E
D E F
D E F G

In [121]:
for row in range(1,6):
    for col in range(1,row+1):
        print("*",end=" ")
    print()
for row in range(1,5):
  for col in range(row,5):
    print("*",end=" ")
  print()

*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*

In [122]:
for row in range(1,5):
  for col in range(row,5):
    print("*",end=" ")
  print()
for row in range(1,6):
    for col in range(1,row+1):
        print("*",end=" ")
    print()

* * * *
* * *
* *
*
*
* *
* * *
* * * *
* * * * *